@media(max-width:750px){

   .flex{
        flex-direction: column;
   }

   .logo h1{
    font-size: 40px;
   }

   .logo img{
    margin-right: 8px;
   }

   .menu{
    flex-direction: column;
    margin-top: 100px;
}

.menu li{
    padding: 33px 0;
}

.menu li a{
    font-size: 40px;
    padding: 17px 41px;
    margin: 0;
}

.menu li a:last-child{
    margin-top: 10px;
}

.menu li a.botao{
    font-size: 18px;
    padding: 15px 23px;
    margin: 0;
}

}