html{
    font-size: 62.5%;
    
}

body{
    display: grid;
    grid-template-areas: "header header header header"
    "hero hero hero hero"
    "about about about about"
    "services services services services"
    "projects projects projects projects"
    "footer footer footer footer";

    grid-template-columns: repeat(4, 1fr);
    font-size: 1.6rem;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
}

.header{
    grid-area: header;
    background-color: #FFFFFF;
    
}

.header .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    min-height: 75px;
}

.header .header-container .logo h1{
    font-weight: 700;
    font-size: 3rem;
    transition: 0.3s;
}

.header .logo h1:hover{
    color: coral;
    cursor: pointer;
}



.hero{
    grid-area: hero;
    height: 85vh;
    background: url('../images/lemons.jpg') center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero h2{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 4rem;
}


.hero:after{
    content: url(../images/seta_preta.png);
    position: absolute;
    height: 35px;
    bottom: 40px;
    animation: downarrow 0.6s infinite alternate;
}

@-webkit-keyframes downarrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4;}
    100% { -webkit-transform: translateY(0.4rem); opacity: 0.9;}
}

@media(max-width: 425px){
    .hero{
        height: 60vh;
    }

    .hero h2{
        font-size: 2.5rem;
    }
}


.about{
    grid-area: about;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #FFFFFF;
    max-width: var(--max-width-size);
    margin: 0 auto;
}

.about .item{
    padding: 20%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.about .item h3{
    font-size: 4rem;
    font-weight: 700;
}

.about .item p{
    font-weight: 400;
    font-size: 1.8rem;
    margin: 30px 0;
}

.about .image{
    height: 100%;
    width: 100%;
}

.about .image.right{
    background: url(../images/bridge.jpg) center center no-repeat;
    background-size: cover;
}

.about .image.left{
    background: url(../images/sky.jpg) center center no-repeat;
    background-size: cover;
}

.about .item .btn-know-more{
    align-self: flex-start;
    font-size: 1.6rem;
}

.about .item .btn-know-more:hover{
    font-weight: 700;
}

@media(max-width: 425px){

    .about .item{
        text-align: center;
    }

    .about {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}


.services{
    grid-area: services;
    background-color: goldenrod;
}

.projects{
    grid-area: projects;
    background-color: cyan;
}

.footer{
    grid-area: footer;
    background-color: magenta;
}