p:first-child{
    color: aquamarine;
    background-color: blueviolet;
}

p:last-child{
    color: rgb(58, 58, 225);
    background-color: orange;
}

p:not(.padrao){
    background-color: black;
}

/* li:nth-child(odd){
    color: yellowgreen;
} */

li:nth-last-child(n+2):nth-last-child(-n+4){
    color: orange;
}

p:only-child{
    color: red;
    background-color: beige;
    font-size: large;
}