*{
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
}
h1 {
    background-color: greenyellow;
    font-size: 100px;
    padding: 25px;
    
}

p {
    font-size: 20px;
    padding: 25px;
    background-color: blueviolet;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}