@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&family=Roboto+Mono:ital,wght@0,300;0,600;1,300&display=swap');

html{
    font-family: "roboto mono", Helvetica, monospace;
    color: aliceblue;
    background-color: blueviolet;

}

.bg {
    background-color: violet;
    background-image: url(./src/imagem/R.jfif);
}

.bg-image {
    width: 500px;
    height: 300px;
}

.bg-repeat{
    background-repeat: no-repeat;
    height: 540px;
}

.bg-size {
    background-size: cover;
    height: 540px;
}

.bg-attachment {
    background-attachment: fixed;
    background-size: cover;
    height: 540px;
}

.bg-position {
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 600px;
}

.bg-position{
    background: violet url(./src/imagem/R.jfif) no-repeat right top;
}

