p{
    color: orange;
}

.paragrafo{
    color: blueviolet;
}

#menu{
    color: red;
}

*{
    padding: 0;
}

.titulo{
    font-size: 58px;
}

.titulo.roxo{
    color: blueviolet;
}

.titulo.amarelo{
    color: yellow;
}

h3, h4, h5{
    color: aqua;
    font-size: 45px;
}

.sobre .texto{
    background-color: black;
    padding: 15px 5px;
    color: white;
}

div > p{
    background-color: blue;
    padding: 20px 10px;
    color: white;
    
}

div + p{
    background-color: red;
    color: aliceblue;
    font-size: 25px;
    padding: 25px;
}

a[target = _blank]{
    color: olivedrab;
    font-size: 25px;
    display: block;
    padding: 15px 0;
}

