div {
    background-color: aqua;
}

.container-cascata {
    background-color: blue;
}

.container-cascata {
    background-color: violet;
}

#container-especificidade {
    background-color: greenyellow;
}

.container-especificidade {
    background-color: blue;
}


