html{
    font-family: 'Public Sans', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.container .pintura{
    position: relative;
    width: 335px;
    height: 431px;
}

.container .pintura .imagem{
    width: 100%;
}

.container .pintura .informacoes{
    position: absolute;
    color: white;
    bottom: 40px;
    left: 20px;
}

.container .pintura .informacoes .obra{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 8px;
}

.container .pintura .informacoes .artista{
    font-size: 17px;
    font-weight: 300;  
}